#root {
  margin: 0 0;
  text-align: center;
}
html * {
  margin: 0;
}
.footer {
  background-color: #6b20ee;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 36px;
}
#search-result {
  text-decoration: none;
}
#search-result:visited {
  text-decoration: none;
  color: white;
}
#homepage {
  margin-bottom: 40px;
}
.box {
  background-color: rgb(255 255 255 / 30%);
  backdrop-filter: blur(10px);
}
#carousel {
  margin-left: 4rem;
  margin-right: 4rem;
}
#title-carousel {
  margin: 5px 0 20px 0;
  font-family: Arial Black;
  font-weight: bold;
  font-size: 30px;
  color: #5091fb;
  text-shadow: 0 1px 0 #89b4fb, 0 2px 0 #c2d8fb, 0 3px 0 #89b4fb,
    0 4px 0 #89b4fb, 0 5px 0 #89b4fb, 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
#carousel-coment:visited {
  text-decoration: none;
}
#carousel-coment img {
  width: 100%;
}
#ult-com-comment {
  text-overflow: ellipsis;
  white-space: wrap;
  max-width: 300px;
  overflow: hidden;
  height: 200px;
}
.spinner {
  border: 3px solid red;
  position: absolute;
  top: 70%;
  left: 50%;
}
#btn-ir-contenido {
  margin: 15px 0 5px 0;
}
#cards-about {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding-bottom: 40px;
}
#formulario-search {
  margin: 10px;
}
#search-btn {
  margin-top: 10px;
}
#lista-animes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 40px;
}
.carousel-indicators button{
  background-color: #6b20ee!important;
}
#anime-details-container {
  margin-bottom: 40px;
}
.comment {
  margin: 10px;
  margin-left: 15px;
  width: 100%;
}
.card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.titulo-recom {
  text-overflow: ellipsis;
  white-space: normal;
}
#lista-animes {
  display: flex;
  flex-wrap: wrap;
}
#list-comentarios {
  margin-bottom: 30px;
}
#pagination {
  margin-bottom: 40px;
}
.carousel-img{
  width: 100%;
}
.lista-busqueda{
  position: absolute;
  z-index: 999;
  
}
a{
  text-decoration: none !important;
}
.details-card{
  width: 98%;
}
.details-btn{
  width: 96%;
}
.caja-comentarios{
  width: 100%;
 
}
.textarea{
width: 290px;
}
@media (max-width: 430px){
  .comentarios-card{
    margin-left: 55px;
  }
}

@media (min-width: 431px) and (max-width: 1400px) {
  .logo{
    width: 220px;
  }
  .buscador{
    width: 200px!important;
    margin-bottom: 10px;
  }
  #pagination {
    display: flex;
    justify-content: center;
  }
  #ult-com-comment {
    width: 100%;
    max-width: 800px;
  }
  #anime-details-container {
    display: "flex";
    flex-direction: "row";
    align-items:start;
    text-align: "center";
    justify-content: "center";
    flex-wrap: nowrap!important;
  }
  .carousel-img{
    width: 60%;
  }
  .details-card{
    width: 94%;
  }
  .details-btn{
    width: 94%;
    height: 60px;
  }
  .comment {
    width: 98%;
  }
  .caja-comentarios{
    margin-top: 50px;
    width: 94%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center!important;
  }
  .img-recomendadas{
    margin: 3px!important;
  }
  .formularioAddComment{
    width: 90%!important;
  
  }
  .textarea{
    width: 300px!important;
  }
}
@media (min-width: 1401px){
  #carousel{
    width: 550px;
  }
  #carousel-coment{
    width: 1000px!important;
    font-size: 1.6em;
  
  }
  .div-carousel-comment{
    margin-top: 50px;
    width: 1000px;
  }
  .carousel-img-text{
    display: flex!important;
    flex-direction: row!important;
    flex-wrap: nowrap!important;
    justify-content:space-around;
  }
#btn-ir-contenido{
  width: 300px;
  height: 80px;
  font-size: 1.6em;
  margin-top: 100px;
}
.bnt-comments{
display: flex!important;
flex-direction: column!important;
align-items: center!important;
}
#title-carousel{
  font-size: 3.5em;
}
#ult-com-comment{
  max-width: 100%!important;
}

#anime-details-container{
display: flex!important;
    flex-direction: row!important;
    flex-wrap: nowrap!important;
    justify-content:space-around!important;
}
.card-details-btn-recommendation{
  width: 650px!important;
  align-items: center;
  
}
.formularioAddComment{
  font-size: 1.3em!important;
  
  display: flex!important;
    flex-direction: row!important;
    align-items: center;
    justify-content: center;
}
.caja-comentarios{
  width: 1000px!important;
  font-size: 1.6em!important;
  
}
.details-btn{
  margin-top: 50px;
  width: 300px;
  height: 80px;
  font-size: 1.7em!important;
}
.details-btn-recom{
  margin-top: 50px;
  width: 300px;
  height: 80px;
  font-size: 1.9em!important;
}
.comentarios-card{
  max-width: 100%!important;
  font-size: 1.3em!important;
}
.btn-comentario-card{
  width: 150px!important;
  height: 80px!important;
  font-size: 1.2em!important;
}
.btn-modal{
  font-size: 1.1em!important;
}
.formulario-addcomment{
  font-size: 1.1em!important;
  width: 250px!important;
  margin-bottom: 100px;
}
.formulario-addcomment-score{
  font-size: 1.1em!important;
  width: 80px!important;
  margin-bottom: 100px;
  margin-right: 50px;
}
.textarea{
  font-size: 1.1em!important;
  width: 250px!important;
}
.details-card-accordion{
  font-size: 2em!important;
}
#anime-card-details {
  font-size: 2em!important;
}
.img-recomendadas{
  width: 175px!important;
  height:300px!important;
  margin-bottom: 80px!important;
}

.titulo-recom{
  font-size: 2em!important;
}
.about{
  width: 400px!important;
  font-size: 2em!important;
}
.title-about{
  font-size: 1.4em!important;
}
.title-about-proyect{
  font-size: 2.6em!important;
}
.all-animes-card{
  width: 450px!important;
  margin-top: 40px!important;
}
.all-animes-title{
  font-size: 2.6em!important;
}
.all-animes-img{
  width: 450px!important;
  height: 580px!important;
}
#search-btn{
  width: 340px!important;
  height: 80px!important;
  font-size: 2em!important;
}
#pagination{
  justify-content: center;
}
#input-paginas{
  width: 200px!important;
  height: 60px!important;
  font-size: 2em!important;
}
.btn-before{
  width: 200px!important;
  height: 60px!important;
  font-size: 2em!important;
}
.tamaño-dropdown{
  font-size: 2em!important;
}
#navbar{
  font-size: 2em!important;
}
.logo{
  width: 600px!important;
}
.buscador{
  margin-right: 80px;
  height: 50px;
  width: 400px!important;
}
.buscador-control{
  font-size: 1.1em!important;
}
.footer{
  height: 60px;
}
.links-about{
  font-size: 2.2em!important;
  height: 56px;
}
.img-recomendadas-altura{
  height: 240px!important;
}
}